html, body {
    margin: 0;  /* margin adds space outside of an object */
    padding: 0; /* padding adds space inside of an object */
    width: 100%; /* set width of an object - % means that is the size relative of the container it is in - px is a static size */
    height: 100%; /* set height of object */

    box-sizing: border-box; /* padding and margin add to the total width of an object, box-sizing keeps it those numbers as part of what the width is set to */
}



/* applying the same properties to 3 selectors, by using a comma */
h1, h2, h3 {
    color: #efefef; /* Color of text */
    font-family: Arial, Helvetica, sans-serif; /* font of text */
    text-align: center; /* alignment of text */
}

/* 
    adding specific properties to just h1 tag 
    note that you can target a selector multiple times, if the same properties are set then whatever is last counts
*/
h1 {
    margin-top:0;
    padding-top:20px;
}

h3 {
    color: rgb(197, 13, 13);
}

.background-layer {
    display: block; /* type of display you want the div to have */
    width: 100%;
    height: 100%;
    margin: 0 auto;

    position: fixed;
    left: 0;
    top: 70px;
    
    background-image: url('../images/yarn-wallpapers.jpg');
    background-color: #06a;
    filter: blur(10px);
    opacity: 0.7;
}

.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    position: relative;
}

.title {
    grid-column: span 2;
    background-color: #09c; /* Set the background color for the object target */
    padding-bottom: 10px;
    order: 1;
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    order: 2;
}

.sidebar > ul {
    list-style-type: none;
    padding: 0;
    margin: 10px;
}

.sidebar > ul > li {
    display: grid;
    height: 50px;
    background-color: orange;
    text-align: center;
    margin: 10px auto;
    align-content: center;
}

.sidebar > ul > li:hover {
    background-color: darkgoldenrod;
    color: white;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 200px));
    grid-template-rows: repeat(auto-fit, 250px);
    grid-gap: 10px;

    height: 100%;
    justify-content: space-between;

    order: 3;
}